<div class="card mb-3">
  <div class="card-header">Basic</div>
  <div class="card-body">
    <textarea highlight-js>&lt;tinymce [config]="config" [(ngModel)]="html"></tinymce></textarea>
    <tinymce [(ngModel)]="html" [config]="config"></tinymce>
    Result:
    <div class="card card-outline-secondary mt-3">
      <div class="card-body">
        <blockquote class="card-bodyquote" [innerHTML]="san.bypassSecurityTrustHtml(html)"></blockquote>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">Disabled</div>
  <div class="card-body">
    <tinymce [(ngModel)]="html" disabled></tinymce>
  </div>
</div>
